* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1F1B2E;
    color: #FFFFFF;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ww {
    width: 50%;
    height: 5px;
}

#barra-contagem {
    transition: width 1s ease-in-out;
    height: 5px;
    background-color: #554FFF;
    border-radius: 5px;
}

#pomodoro-timer {
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#pomodoro-timer form {
    display: flex;
    gap: 10px;
}

#timer{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #222230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 44px;
}

#contagem, #break-contagem {
    font-size: 34px;
    width: 50%;
    background-color: #222230;
    color: #FFFFFF;
    text-align: center;
}

#start, #pause, #stop, #recomecar {
    background-color: #664EFF;
    border: none;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#stop {
    position: absolute;
}

#start svg, #pause svg, #stop svg, #recomecar svg {
    margin-top: 3px;
}

#insert-timer {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #554FFF;
    background-color: #222230;
}

#insert-timer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#insert-timer form div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#insert-timer form input {
    width: 60px;
    height: 40px;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #554FFF;
    color: #FFFFFF;
    font-size: 17px;
}

#insert-timer form label {
    font-size: 14px;
}

#edit {
    background-color: #664EFF;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#edit svg {
    margin-top: 2px;
    margin-left: 2px;
}

#back {
    background-color: #664EFF;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#break, #pomodoro {
    height: 30px;
    background-color: #1F1B2E;
    color: #664EFF;
    border: none;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
}

#break.active, #pomodoro.active {
    border: 1px solid #554FFF;
}
